.vscode/
*.ipynb_checkpoints/

*.d

.o
*.slo
*.lo
*.obj
obj/*.o
obj/*.d

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.out
*.app

data/matrices/torso1
data/matrices/TSOPF_RS_b678_c2
